<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                <!--Loop over the collection of products-->
               <div *ngFor="let theProducts of products" class="col-md-3">
                    <div class="product-box">
                        <img src="{{theProducts.imageUrl}}" class="img-responsive">
                        <h1>{{theProducts.name}}</h1>
                        <div class="price">{{theProducts.unitPrice | currency:'Rp '}}</div>
                        <a href="#" class="primary-btn">Add to cart</a>
                    </div>
               </div>
                    <!--If param empty then display a message-->
                <div *ngIf="products?.length ==0" class="alert alert-warning col-md-12" role="alert">
                    No Products Found
                </div>
            </div>
        </div>
    </div>
</div>