<div class="main-content page-m">
    <div class="section-content section-conten-p30">
        <div class="container-fluid">
            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

                <!--Customer Form Group-->
                <div formGroupName="customer" class="form-area">
                    <h3>Customer</h3>
                    <div class="row">
                        <div class="col-md-2">First Name</div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="firstName" type="text">
                                <!---Validation From-->
                                <div
                                    *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="firstName.errors.required || firstName.errors.preventWhiteSpace">
                                        First Name is Required
                                    </div>
                                    <div *ngIf="firstName.errors.minlength">
                                        First Name must be at least 2 characters
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">Last Name</div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="lastName" type="text">
                                <div
                                    *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="lastName.errors.required || lastName.errors.preventWhiteSpace">
                                        Last Name is required
                                    </div>
                                    <div *ngIf="lastName.errors.minlength">
                                        Last Name must be at least 2 characters
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">Email</div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="email" type="text">
                                <div
                                    *ngIf="email.invalid && (email.dirty || email.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="email.errors.required">
                                        Email is required
                                    </div>
                                    <div *ngIf="email.errors.pattern">
                                        Email must be valid format
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Shipping Form-->
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Shipping Address</h3>
                    <div class="row">
                        <div class="col-md-2">Country</div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country"
                                    (change)="getStates('shippingAddress')">

                                    <option *ngFor="let country of countries"
                                        [ngValue]="country">{{country.name}}</option>
                                </select>
                                <div
                                    *ngIf="shippingAddressCountry.invalid && (shippingAddressCountry.dirty || shippingAddressCountry.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="shippingAddressCountry.errors.required">
                                        Select Your Country
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">Street</div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                                <div
                                    *ngIf="shippingAddressStreet.invalid && (shippingAddressStreet.dirty || shippingAddressStreet.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="shippingAddressStreet.errors.required || shippingAddressStreet.errors.preventWhiteSpace">
                                        Street is required
                                    </div>
                                    <div
                                        *ngIf="shippingAddressStreet.errors.minlength">
                                        Street must be at least 2 characters
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">City</div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                                <div
                                    *ngIf="shippingAddressCity.invalid && (shippingAddressStreet.dirty || shippingAddressStreet.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="shippingAddressCity.errors.required || shippingAddressCity.errors.preventWhiteSpace">
                                        City is required
                                    </div>
                                    <div
                                        *ngIf="shippingAddressCity.errors.minlength">
                                        City must be at least 2 characters
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">State</div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option
                                        *ngFor="let state of shippingAddressStates">{{state.name}}</option>
                                </select>
                                <div
                                    *ngIf="shippingAddressState.invalid && (shippingAddressState.dirty || shippingAddressState.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="shippingAddressState.errors.required">
                                        Select Your State
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">Zip Code</div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                                <div
                                    *ngIf="shippingAddressZipCode.invalid && (shippingAddressZipCode.dirty || shippingAddressZipCode.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="shippingAddressZipCode.errors.required || shippingAddressZipCode.errors.preventWhiteSpace">
                                        Zip Code is required
                                    </div>
                                    <div
                                        *ngIf="shippingAddressZipCode.errors.maxlength || shippingAddressZipCode.errors.minlength">
                                        zipCode be at least 4 characters and max
                                        5 characters
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--- Check Box if Shipping Addres is the same with Billing Address-->
                <div class="input-space">
                    <label class="au-checkbox">
                        <input type="checkbox"
                            (change)="copyShippingAddressToBillingAddress($event)">
                        <span class="au-checkmark"></span> Billing Address same
                        as Shipping Address
                    </label>
                </div>
                <!--Billing Form-->
                <div formGroupName="billingAddress" class="form-area">
                    <h3>Billing Address</h3>
                    <div class="row">
                        <div class="col-md-2">Country</div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country"
                                    (change)="getStates('billingAddress')">
                                    <option *ngFor="let country of countries"
                                        [ngValue]="country">{{country.name}}</option>
                                </select>
                                <div
                                    *ngIf="billingAddressCountry.invalid && (billingAddressCountry.dirty || billingAddressCountry.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="billingAddressCountry.errors.required">
                                        Select Your Country
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">Street</div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                                <div
                                    *ngIf="billingAddressStreet.invalid && (billingAddressStreet.dirty || billingAddressStreet.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="billingAddressStreet.errors.required || billingAddressStreet.errors.preventWhiteSpace">
                                        Street is required
                                    </div>
                                    <div
                                        *ngIf="billingAddressStreet.errors.minlength">
                                        Street must be at least 2 characters
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">City</div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                                <div
                                    *ngIf="billingAddressCity.invalid && (billingAddressStreet.dirty || billingAddressStreet.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="billingAddressCity.errors.required || billingAddressCity.errors.preventWhiteSpace">
                                        City is required
                                    </div>
                                    <div
                                        *ngIf="billingAddressCity.errors.minlength">
                                        City must be at least 2 characters
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">State</div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option
                                        *ngFor="let state of billingAddressStates">{{state.name}}</option>
                                </select>
                                <div
                                    *ngIf="billingAddressState.invalid && (billingAddressState.dirty || billingAddressState.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="billingAddressState.errors.required">
                                        Select Your State
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">Zip Code</div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                                <div
                                    *ngIf="billingAddressZipCode.invalid && (billingAddressZipCode.dirty || billingAddressZipCode.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="billingAddressZipCode.errors.required || billingAddressZipCode.errors.preventWhiteSpace">
                                        Zip Code is required
                                    </div>
                                    <div
                                        *ngIf="billingAddressZipCode.errors.maxlength || billingAddressZipCode.errors.minlength">
                                        zipCode be at least 4 characters and max
                                        5 characters
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!---Credit Card-->
                <div formGroupName="creditCard" class="form-area">
                    <h3>Credit Card</h3>
                    <div class="row">
                        <div class="col-md-2">Card Type</div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="cardType">
                                    <option></option>
                                    <option>Master Card</option>
                                </select>
                                <div
                                    *ngIf="creditCardType.invalid && (creditCardType.dirty || creditCardType.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="creditCardType.errors.required">
                                        Select Your State
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">Name On Card</div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="nameOnCard" type="text">
                                <div
                                    *ngIf="creditCardName.invalid && (creditCardName.dirty || creditCardName.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="creditCardName.errors.required || creditCardName.errors.preventWhiteSpace">
                                        Name on Credit Card is required
                                    </div>
                                    <div
                                        *ngIf="creditCardName.errors.minlength">
                                        Name on Credit Card must be at least 2
                                        characters
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">Card Number</div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="cardNumber" type="text">
                                <div
                                    *ngIf="creditCardNumber.invalid && (creditCardNumber.dirty || creditCardNumber.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="creditCardNumber.errors.required || creditCardNumber.errors.preventWhiteSpace">
                                        Credit Card Number is required
                                    </div>
                                    <div
                                        *ngIf="creditCardNumber.errors.numberInput">
                                        Credit Card Number must be number
                                    </div>
                                    <div *ngIf="creditCardNumber.errors.pattern">
                                        Credit Card Number must be 16 digits
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">Security Code</div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="securityCode"
                                    type="text">
                                <div
                                    *ngIf="creditCardSecurityCode.invalid && (creditCardSecurityCode.dirty || creditCardSecurityCode.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="creditCardSecurityCode.errors.required || creditCardSecurityCode.errors.preventWhiteSpace">
                                        Security Code is required
                                    </div>
                                    <div
                                        *ngIf="creditCardSecurityCode.errors.pattern">
                                        Security Code must be 3 digits
                                    </div>
                                    <div *ngIf="creditCardSecurityCode.errors.numberInput">
                                        Security Code must be number
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">Expiration Month</div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationMonth">
                                    <option
                                        *ngFor="let theMonth of creditCardMonths">{{theMonth}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">Expiration Year</div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationYear"
                                    (change)="handleMonthsAndYears()">
                                    <option
                                        *ngFor="let theYear of creditCardYears">{{theYear}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Order Details-->
                <div class="form-area">
                    <h3>Review You Order</h3>
                    <p>Total Quantity : {{totalQuantity}}</p>
                    <p>Total Price : {{totalPrice}}</p>
                </div>

                <!--Submit Button-->
                <div class="text-center">
                    <button type="submit" class="btn btn-info">Buy</button>
                </div>
            </form>
        </div>
    </div>
</div>
