<div class="main-content page-m">
    <div class="section-content section-conten-p30">
        <div class="container-fluid">
            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

                <!--Customer Form Group-->
                <div formGroupName="customer" class="form-area">
                    <h3>Customer</h3>
                    <div class="row">
                        <div class="col-md-2">First Name</div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="firstName" type="text">
                            </div>
                        </div>
                        <div class="col-md-2">Last Name</div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="lastName" type="text">
                            </div>
                        </div>
                        <div class="col-md-2">Email</div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="email" type="text">
                            </div>
                        </div>
                    </div>
                </div>

                <!--Shipping Form-->
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Shipping Address</h3>
                    <div class="row">
                        <div class="col-md-2">Country</div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country">
                                    <option>TODO</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">Street</div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                            </div>
                        </div>
                        <div class="col-md-2">City</div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                            </div>
                        </div>
                        <div class="col-md-2">State</div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option>TODO</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">Zip Code</div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                            </div>
                        </div>
                    </div>
                </div>

                <!--- Check Box if Shipping Addres is the same with Billing Address-->
                <div class="input-space">
                    <label class="au-checkbox">
                        <input type="checkbox"
                            (change)="copyShippingAddressToBillingAddress($event)">
                        <span class="au-checkmark"></span> Billing Address same
                        as Shipping Address
                    </label>
                </div>
                <!--Billing Form-->
                <div formGroupName="billingAddress" class="form-area">
                    <h3>Billing Address</h3>
                    <div class="row">
                        <div class="col-md-2">Country</div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country">
                                    <option>TODO</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">Street</div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                            </div>
                        </div>
                        <div class="col-md-2">City</div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                            </div>
                        </div>
                        <div class="col-md-2">State</div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option>TODO</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">Zip Code</div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <!---Credit Card-->
                <div formGroupName="creditCard" class="form-area">
                    <h3>Credit Card</h3>
                    <div class="row">
                        <div class="col-md-2">Card Type</div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="cardType">
                                    <option></option>
                                    <option>Master Card</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">Name On Card</div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="nameOnCard" type="text">
                            </div>
                        </div>
                        <div class="col-md-2">Card Number</div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="cardNumber" type="text">
                            </div>
                        </div>
                        <div class="col-md-2">Security Code</div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="securityCode"
                                    type="text">
                            </div>
                        </div>
                        <div class="col-md-2">Expiration Month</div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationMonth">
                                    <option *ngFor="let theMonth of creditCardMonths">{{theMonth}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">Expiration Year</div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationYear" (change)="handleMonthsAndYears()">
                                    <option *ngFor="let theYear of creditCardYears" >{{theYear}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Order Details-->
                <div class="form-area">
                    <h3>Review You Order</h3>
                    <p>Total Quantity : {{totalQuantity}}</p>
                    <p>Total Price : {{totalPrice}}</p>
                </div>

                <!--Submit Button-->
                <div class="text-center">
                    <button type="submit" class="btn btn-info">Buy</button>
                </div>
                


            </form>
        </div>
    </div>
</div>

